h1 {
	font-family: georgia;
	color: #ffffff;
}

body {
	background-color: lightgray;
	background-image: url(gambar/black.jpeg);
	background-position: top;
	background-repeat: repeat-y;
	background-size: 500px; 
}

ul {
	font-family: arial;
}

p {
	font-family: arial;
}
